<div class="container section-moving-car">
    <img class="car-background" src="https://falcondriving.theopenxpress.com/wp-content/uploads/2023/12/carObj-mobile.jpg" alt="">
    
</div>

<style>
    img.car-background {
        width: 100%;
    }

</style>



{% schema %}
  {
    "name": "Falcon Section 10",
    "tag": "section",
    "class": "section10",
    "settings": [
      
    ],
    "presets": [
      {
        "name": "Falcon Section 10",
        "settings": {
        }
      }
    ]
  }
{% endschema %}