
<div class="section-moving-car">
   <img src="https://cdn.shopify.com/s/files/1/0684/8823/3178/t/3/assets/carObj.png?v=1706884039" alt="">
</div>

<div class="wheels">
  <img decoding="async" class="wheel wheel1" src="https://cdn.shopify.com/s/files/1/0684/8823/3178/t/3/assets/car-wheel.png?v=1706884048" alt="">
  <img decoding="async" class="wheel wheel2" src="https://cdn.shopify.com/s/files/1/0684/8823/3178/t/3/assets/car-wheel.png?v=1706884048" alt="">
</div>

<div class="cones">
  <img decoding="async" class="cone cone1" src="https://cdn.shopify.com/s/files/1/0684/8823/3178/t/3/assets/car-limiter.png?v=1706884029" alt="">
  <img decoding="async" class="cone cone2" src="https://cdn.shopify.com/s/files/1/0684/8823/3178/t/3/assets/car-limiter.png?v=1706884029" alt="">
  <img decoding="async" class="cone cone2" src="https://cdn.shopify.com/s/files/1/0684/8823/3178/t/3/assets/car-limiter.png?v=1706884029" alt="">
</div>


<style>

  .section-moving-car{
    background: url(https://cdn.shopify.com/s/files/1/0684/8823/3178/t/3/assets/tt-promo-02-moving-bg.jpg?v=1706884056) 0 0 repeat;
    animation: bgLeftToRight 1s linear infinite;
  }


  .section-moving-car {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
  }

    .wheel2, .wheel1 {
      animation: rotate .7s linear infinite;  
    }

    .cone1, .cone2{
      {% comment %} transform: translateX(0px); {% endcomment %}
      animation: LefttoRight 5s linear infinite; 
    }

    .wheels {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-evenly;
      align-items: center;
    }

    .cones {
      margin-top: -12rem;
      display: flex;
      margin-left: 12rem;
      justify-content: center;
  }

    img.wheel.wheel1 {
      margin-left: -13rem;
      margin-right: -10rem;
      margin-top: -23rem;
        
    }

    img.wheel.wheel2 {
      margin-top: -23rem;
    }

    @keyframes bgLeftToRight {
      from {
          background-position: 0 0 ;
      }
      to {
          background-position: 200px ;
      }
  }

    @keyframes rotate {
      from {
        transform: rotate(360deg);
      }
      to {
        transform: rotate(0deg);
      }
    }

    @keyframes LefttoRight {
      from {
        transform: translateX(100px);
      }
      to {
        transform: translateX(100px); /* Adjust the distance as needed */
      }
    }

</style>



{% schema %}
  {
    "name": "Falcon Section 10",
    "tag": "section",
    "class": "section10",
    "settings": [
      
    ],
    "presets": [
      {
        "name": "Falcon Section 10",
        "settings": {
        }
      }
    ]
  }
{% endschema %}